body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    color: var(--tg-theme-text-color);
    background: var(--tg-theme-bg-color);
}

img {
  width: 50%;
  height: 150px;
}

#doing {
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    color: var(--tg-theme-button-text-color);
    background-color: var(--tg-theme-button-color);
}